page-calendar-list {
  .calendar-list{
    color: black;
    background-color: white;
    background-image: url('../assets/images/border-vertical-8x7.svg'), url('../assets/images/border-vertical-8x7-reverse.svg'), url('../assets/images/snow-tile.jpg');
    background-position: left, right, center;
    background-repeat: repeat-y, repeat-y, repeat;
    background-size: 40px auto, 40px auto, auto;
  }

  ion-navbar{
    height: 80px;

    .back-button.show-back-button{
      position: absolute;
      top: 8px;
      color: red;
    }

    .title-ios{
      height: 50px;
    }

    .toolbar-background, toolbar-background-ios{
      color: black;
      background-color: white;
      background-image: url('../assets/images/border-horizontal-8x7.svg');
      background-position: bottom;
      background-repeat: repeat-x;
      background-size: auto 34px;
      border: none;
      padding-bottom: 34px;
    }
  }

  .scroll-content{
    padding: 0 50px 16px 50px;
  }

  h2{
    text-align: center;
  }

  .card-container{
    text-align: center;
  }

  ion-card{
    position: relative;
    min-height: 100px;
    width: calc(100vw - 56px);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);

    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      box-shadow: inset 1px 1px 0 rgba(255,255,255,0.2), inset -1px -1px 1px rgba(0,0,0,0.2);
    }

    .card-title{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      color: white;


      .header{
        font-family: 'Henny Penny', Arial, sans-serif;
        font-size: 4rem;
        color: white;
        text-shadow: 1px 1px 1px black;
      }
      .sub-title{
        text-align: right;
        margin-right: 20px;
        position: absolute;
        bottom : 0;
        width: 100%;
        padding: 3px;
        background: rgba(0,0,0,0.8);
        font-family: 'Emilys Candy', Arial, sans-serif;
        font-size: 2rem;
        color: white;
        text-shadow: 1px 1px 1px black;
      }
    }
  }
}
