<ion-header>

  <ion-navbar class="white">
    <ion-title>Kalenderliste</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="main-page">
  <div class="border"></div>

  <ion-spinner *ngIf="isLoading" name="bubbles"></ion-spinner>

  <ion-card *ngIf="!isLoading" (click)="toCalendarPage()">
    <img src="assets/images/calendar-bg.jpg"/>
    <div class="card-title">
      <div class="header">{{calendarService.userCalendar.companyName}}</div>
      <!--<div class="sub-title">21 deltakere</div>-->
    </div>
  </ion-card>
  <img src="assets/images/star-29x29--white.svg" style="width: 125px;">
</ion-content>
