<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Main Calendar</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="main-page" padding>

  <h2>Tilgjengelige kalendere</h2>

  <ion-spinner *ngIf="isLoading" name="bubbles"></ion-spinner>

  <ion-card *ngIf="!isLoading" (click)="toCalendarPage()">
    <img src="assets/images/calendar-bg.jpg"/>
    <div class="card-title">
      <div class="header">{{calendarService.userCalendar.companyName}}</div>
      <div class="sub-title">21 Memebers</div>
    </div>
  </ion-card>

</ion-content>
