<!-- Generated template for the ModalsComponent component -->
<div class="modal-container">
  <p class="modal-header">{{prizeData.number}}. desember</p>

  <div class="modal-content-container">
    <p class="top-header">{{outcomeText}}</p>
    <p class="sub-header">Dagens premie {{win ? 'er:' : 'var:'}}</p>
    <img src="{{prizeData.imageUrl}}" style="max-height: 150px; object-fit: scale-down;"/>
    <p>{{prizeData.prize}}</p>
    <p>{{prizeData.instructions}}</p>
  </div>

  <button (click)="closeModal()" style="height: 40px; line-height: 40px; font-size: 2rem;">Lukk</button>
</div>
