<!-- Generated template for the ModalsComponent component -->
<div class="modal-container">

  <p class="modal-header">{{prizeData.number}}. desember</p>

  <div class="modal-content-container">
    <p class="top-header">{{outcomeText}}</p>
    <p class="sub-header">Dagens premie {{win ? 'er:' : 'var:'}}</p>
    <!--<div class="border-above"></div>-->
    <div class="prize-img">
      <img src="{{prizeData.imageUrl}}" [class.scaled]="scaledPrize" style="max-height: 150px; object-fit: scale-down;" (tap)="togglePrizeScaling()"/>
    </div>

    <!--<div class="border-above"></div>-->
    <p>{{prizeData.prize}}</p>
    <p>{{prizeData.instructions}}</p>
  </div>

  <div class="snowbutton" (click)="closeModal()">Lukk</div>

</div>
