page-calendar-doors {
  ion-header {
    color: black;
    background-color: white;
    background-image: url(../assets/images/border-horizontal-6x3.svg), url(../assets/images/snow-tile.jpg);
    background-position: bottom 4px center, center;
    background-repeat: repeat-x, repeat;
    background-size: 30px, auto;
    border: none;
    padding-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 0 -1px 3px white;

    ion-slides {
      height: 19.6vw;
      width: 33vw;
      margin-left: 33vw;
      overflow: visible;
      padding-top: 1vw;

      .swiper-container {
        overflow: visible;

        ion-slide {
          width: 100% !important;
          background: url('../assets/images/slider-pattern-reg-27x15.svg');
          background-size: contain;

          &:first-of-type:before {
            content: 'Dra eller klikk på datoer for å redigere.';
            height: calc(100% - 12px);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 29vw;
            position: absolute;
            font-size: 12px;
            line-height: 14px;
            padding: 2vw;
            top: 0;
            left: -33vw;
          }

        }
        .swiper-slide-active {
          background: url('../assets/images/slider-pattern-active-27x15.svg');
          background-size: contain;
          border: none;
        }
      }
    }
  }
  ion-content {
    &.doors-page {
      color: black;
      background-color: white;
      background-image: url('../assets/images/border-vertical-8x7.svg'), url('../assets/images/border-vertical-8x7-reverse.svg'), url('../assets/images/snow-tile.jpg');
      background-position: left, right, center;
      background-repeat: repeat-y, repeat-y, repeat;
      background-size: 35px auto, 35px auto, auto;

      .scroll-content {
        padding: 10px 50px 16px 50px;

        .list-ios .item-block .item-inner {
          border: none;

        }
        .list-ios > .item-block:first-child, .list-ios > .item-block:last-child {
          border: none;
        }

        ion-input {
          background: url('../assets/images/single-1x1.svg');
          background-position: bottom left;
          background-repeat: repeat-x;
          background-size: 5px auto;
        }

        ion-textarea {
          color: black;
          font-size: 1.5rem;
        }

      }

    }

  }
}

