<div class="door-container" onClick="" id="{{containerId}}">
  <div style="cursor: pointer;">
    <div style="position:absolute; height: 100%; width: 100%; mix-blend-mode: color-dodge;overflow: hidden; cursor: pointer;">
      <div class="prizelink">Klikk her</div>
      <img class="image" src="/app/assets/images/chocolate.png" (click)="openModal()"/>
    </div>
  </div>
  <div class="cardshade-container">
    <div class="cardshade" [class.cardshade-open]="doorOpen"></div>
  </div>
  <div (click)="toggleDoor()"  class="card" [class.card-open]="doorOpen">
    <div class="face front sparkly" id="front" [style.backgroundPosition]="bgPos">
      {{doorNumber}}
      <div class="timer" id="loader-{{doorNumber}}" [style.display]="loaderVisible"></div>
    </div>
    <div class="face back"><p>{{doorQuote}}</p></div>
  </div>
</div>
