<ion-content>

  <div *ngIf="isLoading">Loading...</div>

  <div *ngIf="!isLoading" class="christmasbg">

    <div class="calendar-header">Julekalender for {{calendarService.userCalendar.companyName}}</div>
    <div class="calendar-border"></div>
    <div>{{errorMessage}}</div>

    <door *ngFor="let door of calendarService.userCalendar.doorSequence;
    let i = index;"
          [doorNumber]="door"
          [containerId]="'number-' + door"
          [isOpened]="calendarService.userCalendar.doors[i].open">

    </door>

  </div>

  <button navPop>Back to main</button>
  <button (click)="toWinnerList()">To Winners List</button>

</ion-content>
