page-calendar {

  .scroll-content{
    padding-top: 0 !important;
    overflow: hidden;

    .bottom-border{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url('../assets/images/border-horizontal-8x7--white.svg'),  url('../assets/images/border-horizontal-8x7--white.svg'), url('../assets/images/chrismasbg2.jpg');
      background-position: center 4px, center calc(100% - 4px), center;
      background-repeat: repeat-x, repeat-x, repeat;
      background-size: auto 34px, auto 34px, auto;
      height: 50vh;
      width: 100%;
      position: absolute;
      bottom: -50vh;
      left: 0;
      transition: transform 500ms ease;
      padding: 50px 10vw;
      text-align: center;

      &.show{
        transform: translateY(-50vh);
      }

      p{
        color: yellow;
        font-style: italic;
        text-shadow: 1px 1px 0 black;
      }

    }
  }
  .calendar-header {
    width: 100%; height: 50px; line-height: 50px; text-align: center; font-size: 40px; text-shadow: 0 0 4px black;
    background: #3b76b4;
    position: absolute;
    left: 0; top: 0;
    font-family: "Emilys Candy", Arial, sans-serif;
  }
  .calendar-border {
    position: absolute;
    top: 50px;
    left: 0;
    height: 50px;
    width: 100%;
    background-image: url('../assets/images/blue-top-border.png');
    background-size: auto 50px;
  }
  .link {
    position: absolute;
    top: 0;left: 0;
    color: white !important;
  }
  .link a {
    color: white;
  }

  .icon-link {
    font-size: 25px;
    padding: 15px;
    text-shadow: 0 0 4px black;
    cursor: pointer;
  }
  .icon-link:hover{
    text-shadow: 0 0 5px white;
  }

  @media (max-width: 480px){
    .calendar-header{
      font-size: 30px;
      text-align: right;
      padding-right: 20px;
    }
  }
  .christmasbg {
    width: 160vw;
    padding: 0 30vw !important;
    position: absolute;
    left: -30vw;
    height: 100%;
    background: url('../assets/images/calendar-bg.jpg') no-repeat;
    background-size: cover;
    color: white;
    transform-origin: 0 0;
    transition: transform 500ms ease;

    &:before{
      position: absolute;
      left: 0;
      content: '';
      bottom: -75vh;
      height: 75vh;
      width: 100%;
      background-image: url('../assets/images/border-horizontal-8x7--white.svg'), url('../assets/images/chrismasbg2.jpg');
      background-position: center 4px, center;
      background-repeat: repeat-x, repeat;
      background-size: auto 34px, auto;
      transition: transform 500ms ease;
      transform: scale(1,1);
    }

    &.zoomed{
      &:before{
        transform: scale(0.5,0.5);
        transform-origin: 50% 0;
      }
    }
  }


  //@media (max-width: 1920px) {
  //  .christmasbg {
  //    height: 100vh;
  //  }
  //}
  //
  //@media (max-width: 1280px) {
  //  .christmasbg {
  //    height: 100vh;
  //  }
  //}
  //
  //@media (max-width: 1024px) {
  //  .christmasbg {
  //    height: 100vh;
  //  }
  //}
  //
  //@media screen and (max-width: 935px) {
  //  .christmasbg {
  //    height: 840px;
  //    padding-left: 80px;
  //  }
  //}
  //
  //@media screen and (max-width: 795px) {
  //  .christmasbg {
  //    height: 960px;
  //    padding-left: 80px;
  //  }
  //}
  //
  //
  //@media screen and (max-width: 740px) {
  //  .christmasbg {
  //    height: 840px;
  //    padding-left: 80px;
  //  }
  //}
  //
  //@media screen and (max-width: 520px) {
  //  .christmasbg {
  //    height: 1024px;
  //    padding-left: 80px;
  //  }
  //}
  //
  //@media screen and (max-width: 420px){
  //  .christmasbg {
  //    height: 680px;
  //    padding-left: 10px;
  //  }
  //}
  //
  //@media screen and (max-width: 369px){
  //  .christmasbg {
  //    height: 840px;
  //    padding-left: 10px;
  //  }
  //}

  door{
    &.visible{
      opacity: 1;
      transition: opacity 500ms ease;
    }
  }

}
