<ion-header>

  <ion-navbar class="white">
    <ion-title>{{calendarService.userCalendar.companyName}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <div *ngIf="isLoading">Loading...</div>

  <div #calendarZoom *ngIf="!isLoading" class="christmasbg" [class.zoomed]="isZoomed">

    <!--<div class="calendar-header">Julekalender for {{calendarService.userCalendar.companyName}}</div>-->
    <!--<div class="calendar-border"></div>-->
    <!--<div>{{errorMessage}}</div>-->

    <door *ngFor="let door of calendarService.userCalendar.doorSequence;
    let i = index;"
          [doorNumber]="door"
          [doorIndex]="i"
          [backgroundWidth]="backgroundWidth"
          [backgroundHeight]="backgroundHeight"
          [doorInit]="doorInit"
          [invisible]="isZoomed && i != zoomedDoor"
          [containerId]="'number-' + door"
          [isOpened]="calendarService.userCalendar.doors[i].open"
          (userUpdated)="handleUserUpdated($event)">

    </door>

  </div>
<div #bottomBorder class="bottom-border" [class.show]="isZoomed"></div>
  <!--<button navPop>Back to main</button>-->
  <!--<button (click)="toWinnerList()">To Winners List</button>-->

</ion-content>
