page-calendar-members {

  .members-page {
    color: black;
    background-color: white;
    background-image: url('../assets/images/border-vertical-8x7.svg'), url('../assets/images/border-vertical-8x7-reverse.svg'), url('../assets/images/snow-tile.jpg');
    background-position: left, right, center;
    background-repeat: repeat-y, repeat-y, repeat;
    background-size: 40px auto, 40px auto, auto;

    .scroll-content{
      padding: 0 40px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    ion-item {
      background: none;

      .item-inner{
        border: none !important;
      }
      ion-input{
        background: url('../assets/images/single-1x1.svg');
        background-position: bottom left;
        background-repeat: repeat-x;
        background-size: 5px auto;
      }
    }

    .participants-container {
      text-align: left;
      border-radius: 5px;
      padding: 10px;
      border: 3px solid #dc1413;
      margin: 10px;

      button{
        font-size: 1.5rem;
        ion-icon{
          padding-left: 10px;
        }
      }
    }
  }
}
