<!--
  Generated template for the CalendarAdministratePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{login ? 'Logg inn' : 'Opprett ny'}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="admin-login">
  <div *ngIf="login" class="input-container">
    <ion-list>
      <ion-item>
        <ion-label floating>Brukernavn</ion-label>
        <ion-input [(ngModel)]="editor.calendarAdmin.username" (focus)="clearError()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Passord</ion-label>
        <ion-input type="password" [(ngModel)]="editor.calendarAdmin.password" (focus)="clearError()"></ion-input>
      </ion-item>
    </ion-list>
    <div class="snowbutton" (click)="adminCalendars()">
      Hent kalender
    </div>
  </div>

  <div *ngIf="!login" class="input-container">
    <ion-list>
      <ion-item>
        <ion-label floating>Brukernavn</ion-label>
        <ion-input [(ngModel)]="editor.calendarCreate.username" (focus)="clearError()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Passord</ion-label>
        <ion-input type="password" [(ngModel)]="editor.calendarCreate.password" (focus)="clearError()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Gjenta passord</ion-label>
        <ion-input type="password" [(ngModel)]="editor.calendarCreate.passwordVerify"
                   (focus)="clearError()"></ion-input>
      </ion-item>
    </ion-list>
    <div class="snowbutton" (click)="createCalendar()">
      Opprett kalender
    </div>
  </div>
  <div class="timer" [class.visible]="isLoading"></div>

  <img src="assets/images/star-separator-31x11.svg" height="50">
  <div class="snowbutton" (tap)="toggleCreate()">
    {{login ? 'Lag ny konto' : 'Logg inn'}}
  </div>


</ion-content>
