page-calendar-administrate {
  .admin-login{
    color: black;
    background-color: white;
    background-image: url('../assets/images/border-vertical-8x7.svg'), url('../assets/images/border-vertical-8x7-reverse.svg'), url('../assets/images/snow-tile.jpg');
    background-position: left, right, center;
    background-repeat: repeat-y, repeat-y, repeat;
    background-size: 40px auto, 40px auto, auto;
  }

  .scroll-content{
    padding: 10px 50px 16px 50px;

      .item-ios{
        background: transparent;
      }

    .list-ios .item-block .item-inner {
      border:none;

    }
    .list-ios > .item-block:first-child, .list-ios > .item-block:last-child {
      border: none;
    }

    ion-input{
      background: url('../assets/images/single-1x1.svg');
      background-position: bottom left;
      background-repeat: repeat-x;
      background-size: 5px auto;
    }


  }
}
